// SCSS Variables
$layout_bp_mobile: 360px;
$layout_bp_tablet: 800px;
$layout_bp_desktop: 1000px;

$dark-gray: #343a40;
$black: black;

// SCSS Mixins
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}

// SCSS Styles
.component__container {
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }    
}

.example {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  

}

